*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h1{
    
    text-align: center;
    margin: 20px;
    
}




div {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: 30px;
    margin-bottom: 30px;
   
}
div:hover{
    box-shadow:0px 0px 4px 2px rgb(222, 44, 44);
    
}

p:hover{
    text-shadow: 2px 2px 10px rgb(10, 218, 104);
}

p{
    text-align: center;
    font-size: 100px;
    
}